generated_models
param_id_output
sensitivity_outputs
.vscode
.idea
venv
__pycache__/

.pytest*
claude.md
log_test.log
module_config_user/old/
resources/0D_1D_coupling_test_parameters.csv
resources/0D_1D_coupling_test_vessel_array.csv
resources/SN_simple_parameters_unfinished.csv
resources/aortic_bif_1d_0d_vessel_array.csv
resources/aortic_bif_1d_1d_vessel_array.csv
resources/aortic_bif_1d_coupler1d0d_unfinished.json
resources/aortic_bif_1d_wCont_parameters.csv
resources/aortic_bif_1d_wCont_vessel_array.csv
resources/control_phys_parameters_unfinished.csv
resources/cpp_coupling_parameters.csv
resources/cpp_coupling_vessel_array.csv
resources/delay_devel_parameters.csv
resources/delay_devel_vessel_array.csv
resources/parasympathetic_model_parameters_unfinished.csv
resources/priors_physiological_params_for_id.csv
resources/simple_physiological_prediction_variables.csv
resources/test_init_states_obs_data.json
resources/test_init_states_params_for_id.csv
resources/vessel_array_module_files.csv
src/circulatory_autogen.egg-info/
src/nohup.out
tests/TEST_REFACTORING_SUMMARY.md
tests/test_outputs/
tests/tmp/
tests/tmp_pyprobe/
tmp/
tutorial/interactive/.ipynb_checkpoints/
tutorial/interactive/generation_and_calibration.py
user_run_files/plot_param_id_without_autogen.sh
